<div class="container">
  <div class="intro">
    <div class="background-image"></div>
    <div class="background"></div>
    <div class="content">
      <h1>CONTACT</h1>
      <h4>Home / Contact</h4>
    </div>


  </div>

  <div class="contact">
    <div class="card">
      <div class="icon">
        <img alt="phone"  ngSrc="assets/svg/phone-white.svg" height="18" width="18">

      </div>
      <div class="f-24">Phone</div>
      <div class="description"> <span class="b">
      Toll-Free:
      </span>
        0000-123-456789
      </div>
      <div class="description"> <span class="b">
      Fax:
      </span>
        0000-123-456789
      </div>


    </div>
    <div class="card">
      <div class="icon">
        <img alt="envelop" ngSrc="assets/svg/envelope-white.svg" height="18" width="18">
      </div>
      <div class="f-24">Email</div>
      <div class="description">
        info&#64;example.com
      </div>
      <div class="description">
        support&#64;example.com
      </div>


    </div>
    <div class="card">
      <div class="icon">
        <img alt="location" ngSrc="assets/svg/location-white.svg" height="18" width="18">
      </div>
      <div class="f-24">Address</div>
      <div class="description">
        No: 58 A, East Madison Street,
      </div>
      <div class="description">
        Baltimore, MD, USA 4508
      </div>


    </div>
  </div>

  <div class="contact-form">
    <h2> Contact Form</h2>

    <input class="item" type="text" placeholder="Name">
    <input class="item" type="text" placeholder="Email">
    <input class="item" type="text" placeholder="Phone">
    <textarea class="message"></textarea>

    <div class="button">
      Send
    </div>


  </div>

</div>
