<div class="container">
  <div class="intro">
    <div class="background-image"></div>
    <div class="background"></div>
    <div class="content">
      <h1>Shop</h1>
      <h4>Shop / {{ item().name }}</h4>

    </div>
  </div>
  <div class="upper-section" (click)="setItemUndefined.emit()">
    <img alt="arrow" ngSrc="assets/svg/arrow.svg" height="30" width="30">
    <span>Retour</span>
  </div>

  <div class="shop-item-container">

    <div class="product-image">
      <img src="{{item().imagePath}}" alt="prod-pic">

    </div>

    <div class="product-description">

      <h2>{{ item().name }}</h2>
      <div class="text"> Prix: <span>{{ item().price }} DT </span></div>
      <div class="text"> Type: <span>{{ item().category }}</span></div>
      <div class="customized">
        <input type="checkbox" [(ngModel)]="isCustomized" name="customized">Personalisé?
      </div>
      @if (isCustomized) {
        <div class="drop-zone">
          <ngx-dropzone (change)="onSelect($event)" class="zone">
            {{ fileName }}
          </ngx-dropzone>
        </div>
      }

      <div class="plus"> Quantité:
        <div class="dec-inc-btn">
          <img alt="minus" ngSrc="assets/svg/minus-white.svg" height="14" width="14" (click)="minus()">
          <div class="number">
            {{ amount }}
          </div>
          <img alt="plus" ngSrc="assets/svg/plus-white.svg" height="14" width="14" (click)="plus()">
        </div>
      </div>

      <div class="text"> Description: <span style="color: black; font-weight: 500;">{{ item().description }}</span></div>

      <div class="buttons">
        <div class="btn"> Ajouter au panier</div>
        <div class="btn"> Achetez-le maintenant</div>

      </div>


    </div>


  </div>


</div>
