<div class="tool-bar-container">
  <div class="nav-bar">
    <div class="nav-section">
      <div class="dropDown">
        <span class="small-title hovered">Home</span>
      </div>
      <div class="dropDown">
        <div class="drop-down-item">

          <span class="small-title hovered">Shop </span> <img class="cursor" ngSrc="assets/svg/chevron-down.svg"
                                                              height="12"
                                                              width="12" alt="chevron">
          <img class="cursor-selected " ngSrc="assets/svg/chevron-down-orange.svg" alt="chevron" height="12"
               width="12">

          <div class="product-list">
            @for (category of categories; track category) {
              <div class="category">
                <span>Signage</span>
                @for (item of category.product; track item) {
                  <p>{{ item }}</p>
                }
              </div>
            }

          </div>

        </div>
      </div>
      <div class="dropDown">

        <div class="drop-down-item">
          <span class="small-title hovered">Pages </span> <img class="cursor" ngSrc="assets/svg/chevron-down.svg"
                                                               alt="chevron"
                                                               height="12"
                                                               width="12">
          <img class="cursor-selected" ngSrc="assets/svg/chevron-down-orange.svg" height="12" alt="chevron"
               width="12">

          <div class="drop-down-list">

            <div class="link-item">
              About
            </div>
            <div class="link-item">
              Services
            </div>
            <div class="link-item">
              FAQ
            </div>

          </div>
        </div>
      </div>
      <div class="dropDown">
        <span class="small-title hovered">Contact </span>
      </div>

    </div>
    <div class="logo-section">
      <img class="logo"
           src="https://printme-theme.myshopify.com/cdn/shop/files/printme-logo.png?v=1643275792" alt="logo">
    </div>
    <div class="actions-section">
      <div class="actions">
        <img class="cursor" ngSrc="assets/svg/login.svg" alt="chevron" height="16" width="16">
        <img class="cursor-selected" ngSrc="assets/svg/login-orange.svg" alt="chevron" height="16"
             width="16">
        <span class="small-title">Account</span>
      </div>
      <div class="actions">
        <img class="cursor" ngSrc="assets/svg/magnify.svg" alt="chevron" height="16" width="16">
        <img class="cursor-selected" ngSrc="assets/svg/magnify-orange.svg" alt="chevron" height="16"
             width="16">
        <span class="small-title">Search</span>
      </div>
      <div class="actions">
        <img class="cursor" ngSrc="assets/svg/bag.svg" alt="chevron" height="16" width="16">
        <img class="cursor-selected" ngSrc="assets/svg/bag-orange.svg" alt="chevron" height="16"
             width="16">
        <span class="small-title">Your Cart</span>
      </div>
    </div>
  </div>
</div>


