:host {
  width: 100% !important;

  .tool-bar-container {
    display: flex;
    justify-content: center;
    width: 100% !important;
    height: 75px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    z-index: 99999 !important;

    .nav-bar {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;


      .nav-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        align-items: center;

        .dropDown {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: baseline;
          gap: 5px;
          cursor: pointer;

          .drop-down-item {
            height: 77px;
            align-items: center;
            display: flex;
            gap: 5px;


            .drop-down-list {
              position: fixed;
              display: none;
              top: 65px;
              min-width: 120px;
              background: white;
              box-shadow: 4px 4px 4px rgba(143, 143, 143, 0.6);
              transition: top 0.3s;

              .link-item {
                cursor: pointer;
                padding: 10px 20px;
                border-bottom: 1px solid rgb(0, 0, 0, 0.2);

                &:hover {
                  color: #fb5f1f;
                  transition: transform 1s ease-out;
                }
              }
            }

            .product-list {
              padding: 20px;
              position: fixed;
              top: 65px;
              background-color: white;
              box-shadow: 4px 4px 4px rgba(143, 143, 143, 0.6);
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 7.5rem;

              .category {

              }
            }

            .cursor {
              display: flex;
              align-items: baseline;
            }

            .cursor-selected {
              display: none;
            }

          }

          &:hover {
            .drop-down-item {

              .drop-down-list {
                display: block;
                transform: translateY(11px);
              }

              .hovered {
                color: #fb5f1f;
                transition: color 0.3s;
              }

              .cursor {
                display: none;

              }

              .cursor-selected {
                display: flex;
                align-items: baseline;
              }
            }
          }
        }
      }


      .logo-section {

        display: flex;
        align-items: center;

        .logo {
          width: 200px;
          height: 40px;
        }

      }

      .actions-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        align-items: center;

        .actions {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: baseline;
          gap: 5px;
          cursor: pointer;

          .cursor {
            display: flex;
            align-items: baseline;
          }

          .cursor-selected {
            display: none;
          }


          &:hover {
            color: #fb5f1f;
            transition: color 0.3s;

            .cursor {
              display: none;

            }

            .cursor-selected {
              display: flex;
              align-items: baseline;
            }

          }
        }
      }
    }
  }

}
