<div class="why-us-section">

  <div class="container">
    <div class="left-section">
      <img ngSrc="assets/images/product.webp" height="466" width="470">
    </div>

    <div class="right-section">
      <h4>Why Choose Us</h4>
      <span class="large-title b">Highly Catchy Green Printing</span> <br>
      <span class="f-18">Diam ut venenatis tellus in metus vulputate. Semper eget duis at tellus at urna condimentum. Odio tempor orci dapibus ultrices in iaculis nunc. In hac habitasse platea dictumst quisque sagittis purus sit. A arcu cursus vitae congue mauris rhoncus aenean. Mauris cursus mattis molestiehy</span>

      <div class="quality">
        <div class="icon-container">
          <div class="icon">
            <img ngSrc="assets/svg/thumbs-up-orange.svg" height="16" width="16">
          </div>
        </div>

        <div>
          <span class="medium-title b">Satisfied Service</span>
          <br>
          <p class="f-18">Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit Sed libero enim sed faucibus turpisuy</p>
        </div>

      </div>
      <div class="quality">
        <div class="icon-container">
          <div class="icon">
            <img ngSrc="assets/svg/headset-orange.svg" height="16" width="16">
          </div>
        </div>

        <div>
          <span class="medium-title b">Free Consultancy</span> <br>

          <p class="f-18">Rhues ut lectus arcu bibendum at varius vel pharetra. Lacus suspendisse faucibus interdum posut</p>
        </div>

      </div>


    </div>


  </div>
</div>
