<div class="container">
  <div>
    <app-image-card (addToWishes)="addToWishes.emit()" (addTocart)="addTocart.emit()" (check)="check.emit()"
                    [imageDimentions]="imageDimentions()"
                    [imagePath]=product().imagePath>
    </app-image-card>
  </div>


  <div class="product-details">
    <span class="product-name">{{ product().name }}</span>

    <span class="price">${{ product().price }}</span>
    <div class="circle">
      <img class="small-image" src="{{product().imagePath}}" alt="picture">

    </div>

  </div>

</div>
