<div class="about-us-section">
  <div class="about-us-container">
    <h4 class="green"> WE ARE PRINT TIME</h4>
    <p class="extra-large-title pl-24 pr-24"> We Print Both Modern & <br>
      Antic Designs With Latest Touch</p>

    <span class="grey f-18 fw-500">
      Aenean vel elit scelerisque uleres kuerse uleres yuers koresemauris pellentesque. Quam pellentesque nec nam aliquam sem. In mollis nunc sed id. Velit ut tortor pretium viverra suspendisse potenti. Varius morbi enim nunc faucibus a. Sem fringilla ut morbi tincidunt augue interdum velit euismod in uiytr yuionlor thiese cueresee yuerese serse
    </span>
    <div class="button">
      ABOUT US
    </div>

  </div>


</div>
