<div class="container">
  <div class="intro">
    <div class="background-image"></div>
    <div class="background"></div>
    <div class="content">
      <h1>Boutique</h1>
    </div>
  </div>

  <div class="shop-item-container">
    <div class="filter-container">
      <div class="filter">
        <span class="title">Disponibilité</span>
        <hr>
        <div class="filte-text">
          <input type="radio" name="availability" [(ngModel)]="filters.availability" value="inStock" (change)="applyFilters()"> En stock ({{ (filteredProducts | async)?.length || 0 }})
        </div>
        <div class="filte-text">
          <input type="radio" name="availability" [(ngModel)]="filters.availability" value="" (change)="applyFilters()"> Tous
        </div>
        <div class="buttons">
          <div class="btn" (click)="clearFilter('availability')">Effacer</div>
          <div class="btn" (click)="applyFilters()">Appliquer</div>
        </div>
      </div>

      <div class="filter">
        <span class="title">Prix</span>
        <hr>
        <p class="filte-text">Le prix le plus élevé est 750,00 €</p>
        <div class="filte-text">De<br> <input type="number" [(ngModel)]="filters.priceMin" placeholder="prix min" (ngModelChange)="applyFilters()"></div>
        <div class="filte-text">À<br><input type="number" [(ngModel)]="filters.priceMax" placeholder="prix max" (ngModelChange)="applyFilters()"></div>
        <div class="buttons">
          <div class="btn" (click)="clearFilter('price')">Effacer</div>
          <div class="btn" (click)="applyFilters()">Appliquer</div>
        </div>
      </div>
    </div>

    <div class="shop-item">
      <div class="items">
        <div class="display">
          <div class="left-side"></div>
          <div class="right-side">
            Trier par
            <select [(ngModel)]="sortOption" (ngModelChange)="applySort()">
              <option value="featured">En vedette</option>
              <option value="bestSelling">Meilleures ventes</option>
              <option value="alphaAsc">Alphabétique A-Z</option>
              <option value="alphaDesc">Alphabétique Z-A</option>
              <option value="priceAsc">Prix croissant</option>
              <option value="priceDesc">Prix décroissant</option>
              <option value="dateAsc">Date ancienne à récente</option>
              <option value="dateDesc">Date récente à ancienne</option>
            </select>
          </div>
        </div>

        <div class="products">
          @for (item of filteredProducts | async; track item._id) {
            @if (category === 'shop' || comparing(category, item.category)) {
              <app-product-card [imageDimentions]="[200,200]" [product]="item"
                                (check)="saveSelectedItemToLocalStorage(item)"
                                (addToCart)="addToCart(item._id,'inc')"
                                (addToWishes)="toggleFavourite(item._id)">
              </app-product-card>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>
