:host {
  height: 100%;

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    .image {
      max-height: 400px;
      max-width: 280px;
      padding: 0 15px;
    }

    .button-container {
      padding-bottom: 1rem;
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: space-between;

      .button {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        background: #fb5f1f;
        justify-content: center;

        &:hover {
          background: #0cbc9d;
        }
      }
    }


  }
}

