<div class="footer-container">

  <div class="footer">
    <div class="information">
      <h2> Informations</h2>
      <div class="links">
        <p>Help</p>
        <p>Order Status</p>
        <p>Delivery Choices</p>
        <p>Payment Options</p>
        <p>Returns</p>
        <p>Price Promise</p>
      </div>

    </div>
    <div class="contact">
      <h2> Contact Us</h2>
      <div class="info-section">
        <div class="info">
          <img alt="home" ngSrc="assets/svg/home.svg" height="16"
               width="16"><span> Area 51 somewhere in  Tunis, <br>tunisia</span>
        </div>
        <div class="info">
          <img alt="home" ngSrc="assets/svg/phone.svg" height="16"
               width="16"><span> +216 21 211 221</span>
        </div>
        <div class="info">
          <img alt="home" ngSrc="assets/svg/envelope.svg" height="16"
               width="16"><span> adress&#64;info.com</span>
        </div>
      </div>

      <div class="social">
        <div class="social-btn">
          <img class="icon1" ngSrc="assets/svg/twitter-orange.svg" height="16" width="16">
          <img class="icon2" ngSrc="assets/svg/twitter-white.svg" height="16" width="16">
        </div>
        <div class="social-btn">
          <img class="icon1" ngSrc="assets/svg/facebook-orange.svg" height="16" width="16">
          <img class="icon2" ngSrc="assets/svg/facebook-white.svg" height="16" width="16">
        </div>
        <div class="social-btn">
          <img class="icon1" ngSrc="assets/svg/instagram-orange.svg" height="16" width="16">
          <img class="icon2" ngSrc="assets/svg/instagram-white.svg" height="16" width="16">
        </div>
        <div class="social-btn">
          <img class="icon1" ngSrc="assets/svg/linkedin-orange.svg" height="16" width="16">
          <img class="icon2" ngSrc="assets/svg/linkedin-white.svg" height="16" width="16">
        </div>
      </div>

    </div>
    <div class="information">
      <h2> Service</h2>
      <div class="links">
        <p>Queries</p>
        <p>Map</p>
        <p>Store</p>
        <p>Afiliate</p>
        <p>Check order</p>
        <p>Privacy</p>
      </div>

    </div>
    <div class="newsletter">
      <h2> Newsletter</h2>

      <div class="newsletter-signup">
        <input type="email" class="email">
        <button class="button"> Sign Up</button>
      </div>
      <p>Sign up with your email address to receive news and updates </p>

    </div>
  </div>


</div>
