:host {
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;

  .footer-container {
    width: 100%;
    background: #1e1e1e;
    min-height: 20rem;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .footer {
      width: 80%;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;

      .information {
        margin-bottom: 20px;

        .links {
          p {
            margin: 10px 0;
            &:hover {
              color: #df0074;
              cursor: pointer;
            }
          }
        }
      }

      .contact {
        margin-bottom: 20px;

        .info-section {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            span {
              font-size: 16px;
              font-weight: 500;
            }
          }
        }

        .social {
          display: flex;
          flex-direction: row;
          gap: 10px;
          padding-top: 2.5rem;

          .social-btn {
            width: 45px;
            height: 45px;
            background-color: transparent;
            border-radius: 9999px;
            border: 1px solid #df0074;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon1 {
              display: block;
            }

            .icon2 {
              display: none;
            }

            &:hover {
              background-color: #df0074;

              .icon1 {
                display: none;
              }

              .icon2 {
                display: block;
              }
            }
          }
        }
      }

      .newsletter {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 100% !important;
        margin-bottom: 20px;

        p {
          font-weight: 500;
          font-size: 18px;
          max-width: 100%;
        }

        .newsletter-signup {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          max-width: 320px;
        }

        .email {
          width: 100%;
          height: 50px;
          border-radius: 30px;
          padding: 0 15px;
          padding-right: 120px;
          border: none;
          font-size: 16px;
          font-weight: 500;
          box-sizing: border-box;

          &:focus {
            outline: none;
          }
        }

        .button {
          height: 45px;
          width: 110px;
          border-radius: 30px;
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          padding: 0 20px;
          background: #df0074;
          color: white;
          border: none;
          cursor: pointer;
          font-weight: 500;
          font-size: 16px;
          transition: background-color 0.6s;

          &:hover {
            background-color: #46a9df;
            transition: background-color 0.6s;
          }
        }
      }
    }
  }

  /* Responsive styles */
  @media (max-width: 1200px) {
    .footer-container .footer {
      width: 90%;
      justify-content: space-between;
    }
  }

  @media (max-width: 992px) {
    .footer-container .footer {
      justify-content: flex-start;
    }

    .footer-container .footer .information,
    .footer-container .footer .contact,
    .footer-container .footer .newsletter {
      flex-basis: calc(50% - 30px);
    }
  }

  @media (max-width: 768px) {
    .footer-container {
      height: auto;
    }

    .footer-container .footer {
      width: 95%;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .footer-container .footer .information,
    .footer-container .footer .contact,
    .footer-container .footer .newsletter {
      flex-basis: 100%;
      width: 100%;
      max-width: 400px;
    }

    .footer-container .footer .contact .info-section .info {
      justify-content: center;
    }

    .footer-container .footer .contact .social {
      justify-content: center;
    }

    .footer-container .footer .newsletter {
      align-items: center;
    }

    .footer-container .footer .newsletter p {
      text-align: center;
    }
  }
}
