<div class="container">
  <div class="intro">
    <div class="background-image"></div>
    <div class="background"></div>
    <div class="content">
      <h1>Sign Up</h1>
      <h4>Home / Sign Up</h4>
    </div>


  </div>


  <div class="contact-form">

    <input class="item" type="text" placeholder="First Name">
    <input class="item" type="text" placeholder="Last Name">
    <input class="item" type="email" placeholder="Email">
    <input class="item" type="password" placeholder="Password">

    <div class="button">
      Sign up
    </div>

  </div>

</div>
