<app-toolbar></app-toolbar>

<div style="padding-top: 75px">
  <!--    <app-slider></app-slider>-->
  <!--    <app-about-us-section></app-about-us-section>-->
  <!--    <app-service-section></app-service-section>-->
  <!--    <app-best-sellings [items]="bestSellingItems"></app-best-sellings>-->
  <!--    <app-why-us></app-why-us>-->
  <!--    <app-recent-works></app-recent-works>-->
  <!--  <app-home></app-home>-->
  <!--  <app-contact></app-contact>-->
  <!--    <app-about-us [product]="aboutUsProducts"></app-about-us>-->
  <!--    <app-faq [faqs]="faqs"></app-faq>-->
  <app-cart></app-cart>

</div>
<app-footer></app-footer>
