<div class="container">

  <div class="menu">
    <img alt="icon" class="logo" src="assets/logo.png">
    <div class="element" (click)="selectedElement='Dashboard'"
         [ngClass]="{'inactive': selectedElement !== 'Dashboard'}">
      @if (selectedElement === 'Dashboard') {
        <img alt="icon" ngSrc="assets/svg/back-office/home.svg" height="14" width="14" class="icon"
        >
      } @else {

        <img alt="icon" ngSrc="assets/svg/back-office/home-grey.svg" height="14" width="14" class="icon"
        >
      }
      Dashboard

    </div>
    <div class="element" (click)="selectedElement='Products'" [ngClass]="{'inactive': selectedElement !== 'Products'}">
      @if (selectedElement === 'Products') {
        <img alt="icon" ngSrc="assets/svg/back-office/home.svg" height="14" width="14" class="icon">
      } @else {
        <img alt="icon" ngSrc="assets/svg/back-office/home-grey.svg" height="14" width="14" class="icon">
      }
      Products

    </div>
    <div class="element" (click)="selectedElement='Reclamation'"
         [ngClass]="{'inactive': selectedElement !== 'Reclamation'}">
      @if (selectedElement === 'Reclamation') {
        <img alt="icon" ngSrc="assets/svg/back-office/home.svg" height="14" width="14" class="icon">
      } @else {
        <img alt="icon" ngSrc="assets/svg/back-office/home-grey.svg" height="14" width="14" class="icon">
      }
      Reclamation

    </div>
    <div class="element" (click)="selectedElement='Users'" [ngClass]="{'inactive': selectedElement !== 'Users'}">
      @if (selectedElement === 'Users') {

        <img alt="icon" ngSrc="assets/svg/back-office/home.svg" height="14" width="14" class="icon">

      } @else {

        <img alt="icon" ngSrc="assets/svg/back-office/home-grey.svg" height="14" width="14" class="icon">
      }
      Users
    </div>
    <div class="element" (click)="selectedElement='Commandes'"
         [ngClass]="{'inactive': selectedElement !== 'Commandes'}">
      @if (selectedElement === 'Commandes') {
        <img alt="icon" ngSrc="assets/svg/back-office/home.svg" height="14" width="14" class="icon">

      } @else {
        <img alt="icon" ngSrc="assets/svg/back-office/home-grey.svg" height="14" width="14" class="icon">

      }
      Commandes
    </div>
    <div class="element" (click)="selectedElement='Chat'"
         [ngClass]="{'inactive': selectedElement !== 'Chat'}">
      @if (selectedElement === 'Chat') {
        <img alt="icon" ngSrc="assets/svg/back-office/home.svg" height="14" width="14" class="icon">

      } @else {
        <img alt="icon" ngSrc="assets/svg/back-office/home-grey.svg" height="14" width="14" class="icon">

      }
      Chat
    </div>
    <div class="element" (click)="selectedElement='newsLetter'"
         [ngClass]="{'inactive': selectedElement !== 'newsLetter'}">
      @if (selectedElement === 'newsLetter') {
        <img alt="icon" ngSrc="assets/svg/back-office/home.svg" height="14" width="14" class="icon">

      } @else {
        <img alt="icon" ngSrc="assets/svg/back-office/home-grey.svg" height="14" width="14" class="icon">

      }
      NewsLetter
    </div>
  </div>

  <div class="main">
    <div class="header">
      <span>{{ selectedElement }}</span>
      <img alt="notifications" ngSrc="assets/svg/bell-empty.svg" height="16" width="16">
    </div>


    <div class="content">
      @if (selectedElement === 'Dashboard') {
        <div class="dashboard">
          <div class="stats">
            <div class="card">
              <div class="content">
                <span class="title">
                Today's Money<br>
                </span>
                $50.36
              </div>
              <img alt="coin" ngSrc="assets/svg/coin.svg" height="22" width="22">
            </div>
            <div class="card">
              <div class="content">
                     <span class="title">

                Today's Users<br>
                </span>
                $50.36
              </div>
              <img alt="users" ngSrc="assets/svg/users.svg" height="22" width="22">
            </div>
            <div class="card">
              <div class="content">     <span class="title">

                New Clients
                </span>

                <br>
                $50.36
              </div>
              <img alt="new" ngSrc="assets/svg/new-users.svg" height="22" width="22">
            </div>
            <div class="card">
              <div class="content">
                     <span class="title">

                Sales
                </span>
                <br>
                $50.36
              </div>
              <img alt="cart" ngSrc="assets/svg/cart.svg" height="22" width="22">
            </div>

          </div>

          <div class="tables">
            <div class="table">
              <h2>Recent Orders</h2>
              <table>
                <tr>
                  <th>Client</th>
                  <th>Order ID</th>
                  <th>Status</th>

                  <th>Date</th>
                  <th></th>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td>Manager</td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>

                  <td>
                    <span class="button">View</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td>Manager</td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>

                  <td>
                    <span class="button">View</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td>Manager</td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>

                  <td>
                    <span class="button">View</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td>Manager</td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>

                  <td>
                    <span class="button">View</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td>Manager</td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>

                  <td>
                    <span class="button">View</span>
                  </td>
                </tr>

              </table>
            </div>
            <div class="table" style="width: 400px">

              <table>
                <h2>Top Sellings</h2>

                <tr>
                  <th>Product name</th>
                  <th>Price</th>
                  <th>Revenue</th>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>
                </tr>
                <tr>
                  <th>Product name</th>
                  <th>Price</th>
                  <th>Revenue</th>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>
                </tr>
                <tr>
                  <th>Product name</th>
                  <th>Price</th>
                  <th>Revenue</th>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>
                </tr>

              </table>
            </div>
          </div>

        </div>
      }
      @if (selectedElement === 'Products') {

        <div class="dashboard">
          <div class="product-container pt-2r">
            <div class="new-prod-container">
              <h2>Ajouter un produit</h2>

              <div class="new-prod">

                <div>
                  <div class="form-item">Nom du produit<input [(ngModel)]="newProductName" type="text"></div>
                  <div class="form-item">Prix<input [(ngModel)]="newProductPrice" type="text"></div>
                  <div class="form-item">Catégorie

                    <select [(ngModel)]="category">
                      <option selected>Imperssion numerique</option>
                      <option>Marketing digital</option>
                      <option>Impression grandformat</option>
                      <option>Conception graphique</option>
                    </select></div>
                </div>
                <div class="form-item">Description<textarea [(ngModel)]="newProductDescription"></textarea></div>

                <div style="display: flex; flex-direction: column; gap: 30px ">

                  <div class="form-item">
                    Image du produit
                    <div class="drop-zone">
                      <ngx-dropzone (change)="onSelect($event)" class="zone">
                        {{ fileName }}
                      </ngx-dropzone>
                    </div>

                  </div>
                  <div class="button" (click)="addProduct()"> Ajouter</div>
                </div>

              </div>
            </div>
          </div>
          <div class="tables ">
            <div class="table ">
              <h2>Products</h2>
              <table>
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>Quantity</th>
                  <th></th>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td>Manager</td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>

                  <td>
                    <span class="button">View</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td>Manager</td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>

                  <td>
                    <span class="button">View</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td>Manager</td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>

                  <td>
                    <span class="button">View</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td>Manager</td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>

                  <td>
                    <span class="button">View</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td>Manager</td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>

                  <td>
                    <span class="button">View</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="name"> John Michael</div>
                  </td>
                  <td>Manager</td>
                  <td><span class="online">ONLINE</span></td>
                  <td>23/04/18</td>

                  <td>
                    <span class="button">View</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      }
      @if (selectedElement === 'Reclamation') {
        <div class="dashboard">
          <div class="product-container pt-2r">
            <div class="tables ">
              <div class="table ">
                <h2>Reclamation</h2>

                <table>
                  <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>phone</th>
                    <th>status</th>
                    <th>description</th>
                    <th></th>
                  </tr>

                  @for (item of reclamation; track item) {

                    <tr>
                      <td>
                        <div class="name"> {{ item.name }}</div>
                      </td>
                      <td>{{ item.email }}</td>
                      <td><span class="online">{{ item.phone }}</span></td>
                      <td>
                        <div class="name"> {{ item.status }}</div>
                      </td>
                      <td>
                        <div class="name"> {{ item.description }}</div>
                      </td>

                      <td>
                        <span class="button">View</span>
                      </td>
                    </tr>
                  }

                </table>
              </div>


            </div>
          </div>
        </div>

      }
      @if (selectedElement === 'Users') {
        <div class="dashboard">
          <div class="product-container pt-2r">
            <div class="tables ">
              <div class="table ">
                <h2>Users</h2>
                <table>
                  <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>phone</th>
                    <th>status</th>
                    <th>role</th>
                    <th></th>
                  </tr>
                  @for (user of userlist; track user) {
                    <tr>
                      <td>
                        <div class="name"> {{ user.username }}</div>
                      </td>
                      <td>{{ user.email }}</td>
                      <td><span class="online">{{ user.phone }}</span></td>
                      <td>{{ user.status }}</td>
                      <td>{{ user.role }}</td>

                      <td>
                        <span class="button">Edit</span>
                      </td>
                    </tr>

                  }

                </table>
              </div>


            </div>
          </div>
        </div>

      }
      @if (selectedElement === 'Commandes') {
        <div class="dashboard">
          <div class="product-container pt-2r">
            <div class="tables ">
              <div class="table ">
                <h2>Commandes</h2>
                <table>
                  <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>phone</th>
                    <th>status</th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr>
                    <td>
                      <div class="name"> John Michael</div>
                    </td>
                    <td>Manager</td>
                    <td><span class="online">ONLINE</span></td>
                    <td>23/04/18</td>

                    <td>
                      <span class="button">View</span>
                    </td>
                    <td>
                      <span class="button">Edit</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="name"> John Michael</div>
                    </td>
                    <td>Manager</td>
                    <td><span class="online">ONLINE</span></td>
                    <td>23/04/18</td>

                    <td>
                      <span class="button">View</span>
                    </td>
                    <td>
                      <span class="button">Edit</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="name"> John Michael</div>
                    </td>
                    <td>Manager</td>
                    <td><span class="online">ONLINE</span></td>
                    <td>23/04/18</td>

                    <td>
                      <span class="button">View</span>
                    </td>
                    <td>
                      <span class="button">Edit</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="name"> John Michael</div>
                    </td>
                    <td>Manager</td>
                    <td><span class="online">ONLINE</span></td>
                    <td>23/04/18</td>

                    <td>
                      <span class="button">View</span>
                    </td>
                    <td>
                      <span class="button">Edit</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="name"> John Michael</div>
                    </td>
                    <td>Manager</td>
                    <td><span class="online">ONLINE</span></td>
                    <td>23/04/18</td>

                    <td>
                      <span class="button">View</span>
                    </td>
                    <td>
                      <span class="button">Edit</span>
                    </td>
                  </tr>
                </table>
              </div>


            </div>
          </div>
        </div>

      }
      @if (selectedElement === 'Chat') {
        <div class="dashboard">
          <div class="product-container pt-2r">
            <div class="tables ">
              <div class="table ">
                <h2>Commandes</h2>
                <table>
                  <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>phone</th>
                    <th>status</th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr>
                    <td>
                      <div class="name"> John Michael</div>
                    </td>
                    <td>Manager</td>
                    <td><span class="online">ONLINE</span></td>
                    <td>23/04/18</td>

                    <td>
                      <span class="button">View</span>
                    </td>
                    <td>
                      <span class="button">Edit</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="name"> John Michael</div>
                    </td>
                    <td>Manager</td>
                    <td><span class="online">ONLINE</span></td>
                    <td>23/04/18</td>

                    <td>
                      <span class="button">View</span>
                    </td>
                    <td>
                      <span class="button">Edit</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="name"> John Michael</div>
                    </td>
                    <td>Manager</td>
                    <td><span class="online">ONLINE</span></td>
                    <td>23/04/18</td>

                    <td>
                      <span class="button">View</span>
                    </td>
                    <td>
                      <span class="button">Edit</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="name"> John Michael</div>
                    </td>
                    <td>Manager</td>
                    <td><span class="online">ONLINE</span></td>
                    <td>23/04/18</td>

                    <td>
                      <span class="button">View</span>
                    </td>
                    <td>
                      <span class="button">Edit</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="name"> John Michael</div>
                    </td>
                    <td>Manager</td>
                    <td><span class="online">ONLINE</span></td>
                    <td>23/04/18</td>

                    <td>
                      <span class="button">View</span>
                    </td>
                    <td>
                      <span class="button">Edit</span>
                    </td>
                  </tr>
                </table>
              </div>


            </div>
          </div>
        </div>

      }
    </div>


  </div>


</div>
