<div class="container">
  <div class="intro">
    <div class="background-image"></div>
    <div class="background"></div>
    <div class="content">
      <h1>Login</h1>
      <h4>Home / Login</h4>
    </div>


  </div>


  <div class="contact-form">

    <input class="item" type="email" placeholder="Email" [(ngModel)]="email">
    <input class="item" type="password" placeholder="Password" [(ngModel)]="password">

    <div class="button" (click)="login()">
      Login
    </div>
    <div class="other-option">
      <span routerLink="/forgetPassword" (click)="routing('/forgetPassword')" >Forgot your password?</span>
      <span routerLink="/signup" (click)="routing('/forgetPassword')">Create account</span>
      <span routerLink="/shop" (click)="routing('/shop')">Return to Store</span>
    </div>

  </div>

</div>
