<div class="container">
  <div class="intro">
    <div class="background-image"></div>
    <div class="background"></div>
    <div class="content">
      <h1>Login</h1>
      <h4>Home / Login</h4>
    </div>


  </div>


  <div class="contact-form">

    <input class="item" type="email" placeholder="Email">
    <input class="item" type="password" placeholder="Password">

    <div class="button">
      Login
    </div>
    <div class="other-option">
      <span routerLink="/forgetPassword">Forgot your password?</span>
      <span routerLink="/signup">Create account</span>
      <span routerLink="/shop">Return to Store</span>
    </div>

  </div>

</div>
