body {
  margin: 0;

  .b {
    font-weight: bold;
  }


  .bg-shade-green {
    background-color: #37b546;
  }

  .bg-shade-orange {
    background-color: #fc843c;
  }

  .bg-shade-red {
    background-color: #fc5434;
  }

  .bg-shade-blue {
    background-color: #007aff;
  }

  .small-title {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
  }

  .green {
    color: #0cbc9d;
  }

  .orange {
    color: #fb5f1f;
  }

  .large-title {
    font-size: 48px;
  }
  .medium-title {
    font-size: 24px;
  }

  .extra-large-title {
    font-size: 66px;
  }
  .color-b{
    color: black;
  }

  .pl-10 {
    padding-left: 10px;
  }

  .pr-10 {
    padding-right: 10px;
  }

  .ph-10{
    padding: 10px 0;
  }


  .grey {
    color: grey;
  }
  .f-18{
    font-size: 18px;
  }
  .f-24{
    font-size: 24px;
  }
  .fw-500{
    font-weight: 500;
  }

  .h-450{
    height: 450px;
  }
}
