<div class="service-section">
  <div class="background-image"></div>
  <div class="container">
    <div class="content">
      <h3> OUR SERVICES</h3>
      <div class="large-title b"> Modern Printing</div>
      <div class="sub-title">Aliquet porttitor lacus luctus accumsan tortor posuere ac. Feugiat in antem</div>

      <div class="card-container">
        <div class="card ">
          <div class="card-icon bg-shade-green">
            <img ngSrc="assets/images/print-1.webp" height="70" width="70" alt="print">
          </div>
          <h2>Surface Printing</h2>
          <p>Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum enim</p>


        </div>
        <div class="card ">
          <div class="card-icon bg-shade-red">
            <img ngSrc="assets/images/print-2.webp" height="70" width="70" alt="print">
          </div>
          <h2>Flexographic Printing</h2>
          <p>Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum enim</p>


        </div>
        <div class="card ">
          <div class="card-icon bg-shade-orange">
            <img ngSrc="assets/images/print-3.png" height="70" width="70" alt="print">
          </div>
          <h2>Screen Printing</h2>
          <p>Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum enim</p>


        </div>
        <div class="card ">
          <div class="card-icon bg-shade-blue">
            <img ngSrc="assets/images/print-4.webp" height="70" width="70" alt="print">
          </div>
          <h2>Gravure Printing</h2>
          <p>Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum enim</p>


        </div>

      </div>

    </div>
  </div>
</div>
