<div class="container">

  <div class="content">
    <div class="section-1">
      <h4 class="green"> OUR RECENT WORK</h4>
      <h1 class="large-title">Let’s See Our Latest Project <br> Make Us Pride</h1>

      <div class="project-exemple">
        <div class="first-line">
          <div class="image-1"></div>
          <div class="image-2"></div>
          <div class="image-3"></div>
          <div class="image-4"></div>
        </div>

        <div class="second-line">
          <div class="image-1"></div>
          <div class="image-2"></div>

        </div>

      </div>

    </div>
    <div class="section-2">
      <h4 class="green">TESTIMONIALS</h4>
      <h1 class="large-title">Customer Words</h1>
      <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</span>

      <div class="client-container">
        <div class="client">
          <div class="info">
            <div class="avatar">
              <img src="https://printme-theme.myshopify.com/cdn/shop/files/home-testimonial-2_200x200.jpg?v=1641446887">
            </div>
            <div>
              <div class="f-18 b">Tylor</div>
              <br>
              <span class="pt-4">CEO</span>
            </div>
          </div>
          <span>
            Nec feugiat in fermentum posuere. Vitae justo eget magna fermentum iaculis eu non. Ante in nibh mauris cursusgtriuo.Duis convallis convallis tellus id interdum. Amet tellus cras adipiscing enim eu turpis egestas pretium.

          </span>

        </div>
        <div class="client">
          <div class="info">
            <div class="avatar">
              <img src="https://printme-theme.myshopify.com/cdn/shop/files/home-testimonial-2_200x200.jpg?v=1641446887">
            </div>
            <div>
              <div class="f-18 b">Tylor</div>
              <br>
              <span class="pt-4">CEO</span>
            </div>
          </div>
          <span>
            Nec feugiat in fermentum posuere. Vitae justo eget magna fermentum iaculis eu non. Ante in nibh mauris cursusgtriuo.Duis convallis convallis tellus id interdum. Amet tellus cras adipiscing enim eu turpis egestas pretium.

          </span>

        </div>
        <div class="client">
          <div class="info">
            <div class="avatar">
              <img src="https://printme-theme.myshopify.com/cdn/shop/files/home-testimonial-2_200x200.jpg?v=1641446887">
            </div>
            <div>
              <div class="f-18 b">Tylor</div>
              <br>
              <span class="pt-4">CEO</span>
            </div>
          </div>
          <span>
            Nec feugiat in fermentum posuere. Vitae justo eget magna fermentum iaculis eu non. Ante in nibh mauris cursusgtriuo.Duis convallis convallis tellus id interdum. Amet tellus cras adipiscing enim eu turpis egestas pretium.

          </span>

        </div>

      </div>
    </div>

  </div>
</div>
